<h2>
    Please find below validation technique in angular  for Template based form:

</h2>

<ul>
    <li>
        <a [routerLink]="['template-variable']">Validate form using template refernce variable</a>
    </li>
    <li>
        <a [routerLink]="['validation-component']">Using component to display validation message</a>
    </li>

    <li>
        <a [routerLink]="['validation-summary']">Form validation summary</a>
    </li>


</ul>

<h2>
    Please find below validation technique in angular  for Model based form:

</h2>

<ul>
    <li>
        <a [routerLink]="['model-form']">Model based form</a>
    </li>


    <li>
        <a [routerLink]="['customval-model']">Custom validation Model based</a>
    </li>
   
</ul>